html { height: 100%; }
body { min-height: 100%; }
body {
    background: #ededed;
    border: 5px solid #13c0d8;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 0px !important;

}

header, footer {
    text-align: center;
    padding: 10px 0px 15px;
}

span{
    
    font-family: 'Squada One', cursive;

}
#draw-area, #actions{
	padding: 10px;
	background: white;
}

#draw-area {
    min-height: 500px;
    border-right: 0px;
}
#actions {
    min-height: 500px;
    border-left: 0px;
    background: #13c0d8;
}
.row.buttons {
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.area {
    width: 700px;
    min-height: 450px;
    /*border: 1px solid #efefef;*/
    margin-left: auto;
    margin-right: auto;
    /*background-image: url('../images/background_draw.png');*/
    background-color: #ededed;
}
.addShapes img {
    width: 100%;
}
.addCL img{
    width: 100%;
}
.addCL {
    text-align: center;
    min-height: 101px;
    font-size: 12px;
    line-height: 15px;
}
.panel-body {
    max-height: 445px;
    overflow: auto;
}
.ms {
    /*background: rgba(255,255,255,0.50);*/
    background: rgba(255,255,255);
    border: 1px solid black;
    text-align: center;
}

.ms017, .ms018, .ms019, .ms020, .ms021, .ms022, .ms023, .ms024, .ms025, .ms026, .ms051, .ms052, .ms053, .ms054, .ms055{
	background: rgb(255,255,255);
	/*border: 5px solid rgba(255, 255, 255, .5);*/
	/*border: 5px solid grey;*/
}
.ms001, .ms017, .ms021, .ms039, .ms050 {
    width: 50px;
    height: 50px;
    padding-top: 12px;
}
.ms002, .ms018, .ms022, .ms040, .ms051 {
    width: 100px;
    height: 50px;
    padding-top: 12px;
}
.ms003, .ms019, .ms023, .ms041, .ms052 {
    width: 150px;
    height: 50px;
    padding-top: 12px;
}
.ms004 , .ms020, .ms024, .ms042, .ms053{
    width: 200px;
    height: 50px;
    padding-top: 12px;
}
.ms005, .ms025, .ms043, .ms054 {
    width: 50px;
    height: 100px;
    padding-top: 37px;
}
.ms006, .ms026, .ms027, .ms044, .ms055 {
    width: 100px;
    height: 100px;
    padding-top: 37px;
}
.ms007 {
    width: 150px;
    height: 100px;
    padding-top: 37px;
}
.ms008, .ms045{
    width: 200px;
    height: 100px;
    padding-top: 37px;
}
.ms009, .ms046{
    width: 50px;
    height: 150px;
    padding-top: 62px;
}
.ms010, .ms047{
    width: 100px;
    height: 150px;
    padding-top: 62px;
}
.ms011{
    width: 150px;
    height: 150px;
    padding-top: 62px;
}
.ms012{
    width: 200px;
    height: 150px;
    padding-top: 62px;
}
.ms013, .ms048{
    width: 50px;
    height: 200px;
    padding-top: 85px;
}
.ms014, .ms049{
    width: 100px;
    height: 200px;
    padding-top: 85px;
}
.ms015{
    width: 150px;
    height: 200px;
    padding-top: 85px;
}
.ms016{
    width: 200px;
    height: 200px;
    padding-top: 85px;
}
.ms.active {
    border: 4px solid #13c0d8 !important;
}

#myModal{
    padding: 0px !important;
}

 /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #cdcfd0; /* Black fallback color */
    /*background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#selectedCanvas{
    display: none;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}